
#HP-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

@media screen and (max-width: 768px) {
    #HP-box {
      grid-template-columns: 1fr;
    }
}
  

@media screen and (min-width: 769px) and (max-width: 1200px) {
    #HP-box {
      grid-template-columns: 1fr;
    }

    #hotSpots-pic {
        grid-column: 1 / span 7;
      }
    
      #text-box {
        width: 500px;
      }
}

@media screen and (min-width: 1201px) {
    #text-box {
        height: 350px;
    }
}
  