body {
    background-color: #272727;
}
.box_nav {
    height: 100px;
    background-color: #999999;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.box_video {
    height: 350px;
    background-color: #999999;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

#hotSpots-pic {
    height: 350px;
    background-color: #999999;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

#text-box {
    height: 120px;
    background-color: #999999;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.box_x-ray {
    background-color: #999999;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.box_pic {
    background-color: #999999;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
